pyproject.toml
poetry.lock
Dockerfile

# Environnements virtuels
venv/
.venv/


# Caches et artefacts
__pycache__/
*.pyc
*.pyo
*.pkl
*.log
.cache/
.ipynb_checkpoints/

# Git / IDE
.git/
*.swp
*.bak
*.tmp

# Variables d'environnement
.env
*.env



